<header>
    <nav>
        <a href="/">BankNTNU</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Create User</a></li>
        </ul>
    </nav>
</header>
