<h2>Edit User</h2>
<form action="/users/<%= user.personal_number %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/users/<%= user.personal_number %>">Cancel</a>
    <button type="submit">Update</button>
</form>
